.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  width: 45vw;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(83, 119, 119);
  color: white;
}